main {
  padding: 1.25rem;
}
 
header {
  display: flex;
  flex-direction: row;
}

h1 {
  color: red;
  border: 1px red solid;
  text-align: center;
}

}
.paintings {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.paintings article {
  max-width: calc(33% - 1.25rem);
  display: flex;
  border: 2px solid;
  margin-bottom: 1.25rem;
}

.paintings article section {
  max-width: 50%;
  padding: 0.75rem;
}

.paintings article section:last-of-type div {
  display: flex;
  margin-bottom: 0.5rem;
}

.paintings article section dt {
  min-width: 40%;
  font-size: 1.125rem;
  font-weight: bold;
}

.paintings article section dd {
  margin: 0;
}
